In [102]:
import pandas as pd

In [103]:
df_inp = pd.read_csv('horse_data.csv',
                     names=['surgery', 'Age', 't3', 'rectal_temperature', 'pulse',
                            'respiratory_rate', 'temperature_of_extremities', 't8', 't9', 't10',
                            'pain', 't12', 't13', 't14', 't15',
                            't16', 't17', 't18', 't19', 't20',
                            't21', 't22', 'outcome', 't24', 't25',
                            't26', 't27', 't28'], na_values='?')
df = df_inp[['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate',
             'temperature_of_extremities', 'pain', 'outcome']]
df.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

## Задание 2

In [105]:
df[['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate',
    'temperature_of_extremities', 'pain', 'outcome']].describe()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [106]:
print(df['pulse'].mean())
print(df['pulse'].median())
print(df['pulse'].mode()[0])
print(df['pulse'].std())
print(df['pulse'].var())

71.91304347826087
64.0
48.0
28.630556660735003
819.7087747035575

In [107]:
q1 = df['rectal_temperature'].quantile(0.25)
q3 = df['rectal_temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['rectal_temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values(
    'rectal_temperature')
remove_outliers.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
277,2.0,1,36.9,50.0,40.0,2.0,1.0,1.0
70,2.0,1,37.0,60.0,20.0,3.0,3.0,3.0
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0

In [108]:
##Выбросы
pd.concat([df, remove_outliers]).drop_duplicates(keep=False)

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

## Задание 3

In [109]:
df_inp = pd.read_csv('horse_data.csv',
                     names=['surgery', 'Age', 't3', 'rectal_temperature', 'pulse',
                            'respiratory_rate', 'temperature_of_extremities', 't8', 't9', 't10',
                            'pain', 't12', 't13', 't14', 't15',
                            't16', 't17', 't18', 't19', 't20',
                            't21', 't22', 'outcome', 't24', 't25',
                            't26', 't27', 't28'],
                     na_values='?')
df = df_inp[['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate',
             'temperature_of_extremities', 'pain', 'outcome']]
df.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [110]:
print(df['rectal_temperature'].describe())

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal_temperature, dtype: float64

In [111]:
(df.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [113]:
df['rectal_temperature'].fillna(df['rectal_temperature'].median(), inplace=True)
df['surgery'].fillna(df['surgery'].mode()[0], inplace=True)
df['respiratory_rate'].fillna(df['respiratory_rate'].median(), inplace=True)
df['pulse'].fillna(df['pulse'].median(), inplace=True)
df['outcome'].fillna(df['outcome'].mode()[0], inplace=True)
df['pain'].fillna(df['pain'].mode()[0], inplace=True)
df.head()

C:\Users\ruayup\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,3.0,2.0

In [114]:
df['temp_rank'] = pd.qcut(df['rectal_temperature'], q=4, labels=False)
df.head()

<ipython-input-114-8bdfd957f936>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp_rank'] = pd.qcut(df['rectal_temperature'], q=4, labels=False)

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome,temp_rank
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0,2
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0,3
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0,2
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0,3
4,2.0,1,37.3,104.0,35.0,NaN,3.0,2.0,0

In [115]:
print(df.groupby('temp_rank')['temperature_of_extremities'].median())

temp_rank
0    2.0
1    3.0
2    3.0
3    3.0
Name: temperature_of_extremities, dtype: float64

In [116]:
df['temperature_of_extremities'].fillna(df.groupby('temp_rank')['temperature_of_extremities'].transform('median'), inplace=True)
df.head()

C:\Users\ruayup\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome,temp_rank
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0,2
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0,3
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0,2
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0,3
4,2.0,1,37.3,104.0,35.0,2.0,3.0,2.0,0

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal_temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory_rate            300 non-null    float64
 5   temperature_of_extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
 8   temp_rank                   300 non-null    int64
dtypes: float64(7), int64(2)
memory usage: 21.2 KB